* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  font-size: 62.5%;

  /* CORES */
  --primary: #33313b;
  --secondary: #007880;
  --buttons: #eee;

  /* TRANSIÇÕES */

  --trans-02: all 0.2s ease;
  --trans-03: all 0.3s ease;
  --trans-04: all 0.4s ease;
  --trans-05: all 0.5s ease;
}

body {
  background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
}

.btn {
  background: var(--secondary);
  color: var(--buttons);
  display: flex;
  justify-content: center;
  width: 80%;
}
