body {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#card {
  background: white;
  padding: 2rem 1rem;
  border-radius: 8px;
  width: 25%;
}

header {
  margin: 2rem 0;
  text-align: center;
}

header img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  clip-path: circle();
  margin-bottom: 2rem;
}

header > h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

header > p {
  font-size: 2.5rem;
  font-weight: 600;
}

nav {
  text-align: center;
}

#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1rem;
}

#buttons > a {
  padding: 1rem;
  border-radius: 8px;
  margin: 0.25rem;
  text-transform: capitalize;

  font-size: 1.4rem;
  font-weight: 600;
  transition: background 1s;
}

#buttons > a:hover {
  background: #33313b;
}
